.subCate{
    font-size: 0px;
    margin-bottom: 30px;
    margin-top: 12px;
}
.subCate .cate{
    display: inline-block;
    margin-right: 37px;
    font-size: 36px;
    font-weight: bold;
    color: #b9b9b9;
    cursor: pointer;
}

.subCate .cate.active{
    color: #282828;
}

