.subCate{
    padding-left: 10px;
    font-size: 0px;
    margin-bottom: 30px;
    margin-top: 12px;
}
.subCate .cate{
    display: inline-block;
    margin-right: 37px;
    font-size: 36px;
    font-weight: bold;
    color: #b9b9b9;
    cursor: pointer;
}

.subCate .cate.active{
    color: #282828;
}


/* 검색결과 */
.searchTitle{
    padding-left: 10px;
    font-size: 22px;
    font-weight: bold;
    text-align: left;
    color: #454545;
    margin-bottom: 2px;
}

.searchTitle span{
    color: #ff8aae;
}

.noneSearch{
    text-align: center;
    color: #999;
    padding-top: 50px;
    padding-bottom: 350px;
    font-size: 20px;
    font-weight: bold;
}