.subCate{
    padding-left: 10px;
    font-size: 0px;
    margin-bottom: 20px;
}
.subCate .cate{
    display: inline-block;
    font-size: 24px;
    font-weight: bold;
    color: #c0c0c0;
    cursor: pointer;
    margin-right: 20px;
}

.subCate .cate.active{
    color: #282828;
}


/* 검색결과 */
.searchTitle{
    padding-left: 10px;
    font-size: 22px;
    font-weight: bold;
    text-align: left;
    color: #454545;
    margin-bottom: 2px;
}

.searchTitle span{
    color: #ff8aae;
}

.noneSearch{
    text-align: center;
    color: #999;
    padding-top: 50px;
    padding-bottom: 350px;
    font-size: 20px;
    font-weight: bold;
}