.body{
    display: inline-block;
    margin-top: 39px;
    width: 100%;
}

.body .mainTitle{
    position: relative;
    font-size: 28px;
    font-weight: bold;
    color: #1f1f1f;
}

.body .mainTitle p{
    display: inline-block;
    margin: 0px;
    padding: 0px;

    position: absolute;
    right: 24px;
    bottom: 0px;

    font-size: 12px;
    font-weight: bold;
    color: #c0c0c0;
}

.body .mainTitle p .pink{
    position: absolute;
    width: 6px;
    height: 6px;
    background-color: #ff8aae;
    border-radius: 50%;

    top: 50%;
    margin-top: -3px;
    left: -10px;
}


.winBox{
    width: 1200px;
    padding: 40px 60px 72px 29px;
    border-radius: 33px;
    background-color: rgba(192, 192, 192, 0.15);
    box-sizing: border-box;
    margin-top: 20px;
}

.winBox .joinInfo{
    font-size: 0px;
    margin-bottom: 30px;
}

.winBox .joinInfo .title{
    position: relative;
    display: inline-block;
    width: 107px;
    height: 56px;

    font-size: 18px;
    font-weight: bold;
    color: #1f1f1f;
    line-height: 56px;
    vertical-align: top;
}

.winBox .joinInfo .title .pink{
    display: inline-block;
    margin-left: 3px;
    margin-bottom: 3px;
    width: 6px;
    height: 6px;
    background-color: #ff8aae;
    border-radius: 50%;
}

.winBox .joinInfo .content{
    display: inline-block;
    width: 1000px;
}

.winBox .joinInfo .content input{
    font-size: 18px;
    font-weight: bold;
    border-radius: 11px;
    background-color: #fff;
    border: 0px;
    padding: 0px 20px;
    box-sizing: border-box;
    color: #1f1f1f;
}

.winBox .joinInfo .content textarea{
    font-size: 18px;
    font-weight: bold;
    border-radius: 11px;
    background-color: #fff;
    border: 0px;
    box-sizing: border-box;
    color: #1f1f1f;

    padding: 20px;
    line-height: 1.5em;

    resize: none;
    font-family: 'Spoqa Han Sans' !important;
}


.winBox .joinInfo .content input::placeholder,
.winBox .joinInfo .content textarea::placeholder{
    font-size: 18px;
    font-weight: bold;
    color: #c0c0c0;
}
.winBox .joinInfo .content input:focus,
.winBox .joinInfo .content textarea:focus{
    outline: none;
}

.winBox .joinInfo .content #title{
    width: 1000px;
    height: 56px;
    line-height: 56px;
}

.winBox .joinInfo .content select{
    width: 196px;
    height: 56px;
    border-radius: 11px;
    padding:0px 20px;
    box-sizing: border-box;
    border: 0px;

    font-size: 18px;
    font-weight: bold;
    color: #c0c0c0;
    background:url('../../../image/web/arrow.png') no-repeat right 16px center;
    background-color: #fff;
    -webkit-appearance: none;
    -moz-appearance: none;
    margin-right: 22px;
}

.winBox .joinInfo .content select:focus{
    outline: none;
}

.winBox .joinInfo .content .cateExpand{
    display: inline-block;
    width: 110px;
    height: 50px;
    border-radius: 11px;
    background-color: #fff;
    vertical-align: top;
    margin-right: 10px;
    margin-bottom: 10px;

    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    line-height: 50px;
    color:#c0c0c0;
}

.winBox .joinInfo .content .cateExpand input{
    display: none;
}

#startDate, #endDate, #auditionDate, #auditionTime{
    width: 196px;
    height: 56px;
    line-height: 56px;
    margin-right: 13px;
    text-align: center;
}

#startDate{
    margin-right: 0px;
}

.content span{
    display: inline-block;
    width: 43px;
    height: 56px;
    line-height: 56px;
    color: #c0c0c0;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    margin: 0px 8px;
}

#essential{
    width: 1000px;
    height: 112px;
}

#preparation{
    width: 1000px;
    height: 224px;
}

.imageBox{
    display: inline-block;
}

#fileLabel{
    display: inline-block;
    position: relative;
    width: 140px;
    height: 140px;
    border-radius: 20px;
    background-color: #fff;
    line-height: 180px;

    font-size: 16px;
    font-weight: bold;
    text-align: center;
    color: #afafaf;
    vertical-align: top;
    cursor: pointer;
}

#fileLabel .addImage{
    height: 28px;
    width: 28px;
    position: absolute;

    top: 38px;
    left: 56px;

    background-image: url("../../../image/web/addImgBtn.png");
}

.upload-hidden{
    display: none;
}

.upload-display{
    position: relative;
    display: inline-block;
    position: relative;
    width: 140px;
    height: 140px;
    border-radius: 20px;
    background-color: #fff;
    line-height: 180px;
    margin-right: 20px;

    background-repeat: no-repeat;
    background-position: top center;
    background-size: 100% auto;
    vertical-align: top;
}

.upload-display .upload-sub,
.upload-display .upload-sub2{
    position: absolute;
    right: -10px;
    top : -10px;
    width: 30px;
    height: 30px;
    background-color: #ff8aae;
    border-radius:50%;
    cursor: pointer;


    background-image: url("../../../image/web/subImgBtn.png");
    background-repeat: no-repeat;
    background-position: center;
}

.btnBox{
    display: block;
    text-align: center;
    margin-top: 40px;
}

.btnBox .sendBtn{
    display: inline-block;
    width: 220px;
    height: 82px;
    line-height: 82px;
    border-radius: 22px;
    background-color: #ff8aae;

    font-size: 24px;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
}

.textCheck{
    position: relative;
    font-size: 18px;
    font-weight: bold;
    color: #c0c0c0;
    cursor: pointer;
}

.textCheck input{
    display: none;
}

.textCheck .check{
    position: absolute;
    top: 50%;
    margin-top: -11.5px;
    display: inline-block;
    width: 23px;
    height: 23px;
    margin-left: 5px;

    background-position: center;
    background-image: url("../../../image/web/textCheck_off.png");
    background-repeat: no-repeat;
}
.textCheck .check.on{
    background-image: url("../../../image/web/textCheck_on.png");
}