{% extends 'website/base.html' %}
{% block context %}

<!-- Index CSS 파일 및 JS 파일 include -->
{% load static %}
{% load my_filter %}
<link rel="stylesheet" media="all and (min-width:768px)" href="{% static 'css/web/audi/index.css' %}"> <!-- pc 버전 -->
<link rel="stylesheet" media="all and (max-width:767px)" href="{% static 'css/mobile/audi/index.css' %}" > <!-- 모바일 버전 -->

<link rel="stylesheet" media="all and (min-width:768px)" href="{% static 'css/web/audi/audi_base.css' %}"> <!-- pc 버전 -->
<link rel="stylesheet" media="all and (max-width:767px)" href="{% static 'css/mobile/audi/audi_base.css' %}" > <!-- 모바일 버전 -->

<link rel="stylesheet" media="all and (min-width:768px)" href="{% static 'css_v2/web/search/search.css' %}"> <!-- pc 버전 -->
<link rel="stylesheet" media="all and (max-width:767px)" href="{% static 'css_v2/mobile/search/search.css' %}" > <!-- 모바일 버전 -->

<!-- JS 파일 -->
<script src="{% static 'js_v2/website/search/search.js' %}"></script>

<div class="container">
    <!-- 분야 카테고리 -->
    <div class="subCate">
        <div class="cate active" data-url="/search/{{ search }}/audi/1/">오디션</div>
        <div class="cate" data-url="/search/{{ search }}/profile/">프로필</div>
    </div>

    <div class="searchTitle"><span>'{{ search }}'</span>에 대한 검색 결과 (총 <span>{{ allList }}</span>건)</div>

    {% if searching|length > 0 %}
        <div class="audiList">
            {% for auditions in searching %}
            <div class="audiListBox" data-num="{{ auditions.0 }}">
                <div class="audiLogo" style='background-image: url("/media/{{ auditions.8 }}");'></div>
                <div class="sContent">
                    <div class="lTitle">{{ auditions.1 }}</div>
                    <div class="lAppel">
                        <span>모집분야</span>
                        <p>{{ auditions.2 }}</p>
                        <span>경력</span>
                        <p>{{ auditions.3 }}</p>
                        <span>나이</span>
                        <p>{{ auditions.4 }}</p>
                    </div>
                </div>
                <div class="date">
                    {% if auditions.7 == '1' %}
                    <div class="endDate">상시모집</div>
                    {% elif auditions.7 == '0' %}
                    <div class="endDate">~ {{ auditions.5|date:'Y/m/d' }}</div>
                    {% endif %}
                    {% if auditions.9 == 0 %}
                    <div class="regDate">오늘 등록</div>
                    {% else %}
                    <div class="regDate">{{ auditions.9 }}일 전 등록</div>
                    {% endif %}
                </div>

                {% if auditions.10 == 0 or auditions.10 == "0" %}
                <div class="pickBtn" data-nowType="off"></div>
                {% else %}
                <div class="pickBtn pickOn " data-nowType="on"></div>
                {% endif %}
            </div>
            {% endfor %}
        </div>

        <div class="page">
            {% if page != 1 %}
                <div class="leftPage" data-type="list" data-page="{{ leftPage }}"></div>
            {% endif %}

            <div class="pageBox">
            {% for pages in paging %}
                <div class="pages {% if pages == page %} nowPage {% endif %}"  data-type="list" data-page="{{ pages }}">{{ pages }}</div>
            {% endfor %}
            </div>

            {% if page != lastPage %}
                <div class="rightPage" data-type="list" data-page="{{ rightPage }}"></div>
            {% endif %}
        </div>

    {% else %}
        <div class="noneSearch">검색결과가 없습니다.</div>
    {% endif %}
</div>

<script>
    var word = "{{ search }}";
    var page = "{{ page }}";
    var cateType = "{{ cateType }}";
</script>


{% endblock %}