/media/
# IntelliJ project files
.idea
.idea/*.xml
*.iml
out
gen
build
rebel.xml

### Django ###
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
db.sqlite3-journal
media

# mypy
.mypy_cache/
.dmypy.json
dmypy.json