.mainProfile .mainImage{
    background-color: #c4c4c4;
    width: 100%;
    padding-bottom: 124%;
    margin-top: 26px;
    margin-bottom: 42px;
    border-radius: 33px;

    background-position:  center;
    background-size: cover;
    background-repeat:  no-repeat;
}
.mainProfile .mainInfo{
    padding : 0px 9px;
}

.mainProfile .mainInfo .name{
    padding : 0px 5px;
    margin-bottom: 35px;

    font-size: 33px;
    font-weight: bold;
    color: #1f1f1f;
}

.mainProfile .mainInfo .info{
    padding : 0px 5px;
    margin-bottom: 20px;
}

.mainProfile .mainInfo .info p{
    display: inline-block;
    margin: 0px;
    padding: 0px;

    font-size: 18px;
    font-weight: bold;
    color: #1f1f1f;
    margin-right: 8px;
}

.mainProfile .mainInfo .info span{
    display: inline-block;

    font-size: 18px;
    font-weight: 500;
    color: #1f1f1f;
    margin-right: 16px;
}

.mainProfile .mainInfo .btnBox{
    margin-top: 31px;
    text-align: center;
    font-size: 0px;
}

.mainProfile .mainInfo .btnBox .scrapBtn{
    display: inline-block;
    width: 118px;
    height: 39px;
    line-height: 39px;
    border-radius: 11px;
    box-shadow: 0 1px 13px 0 rgba(255, 138, 174, 0.25);
    background-color: #fff;
    margin-right: 13px;

    font-size: 14px;
    font-weight: bold;
    text-align: center;
    color: #ff8aae;
    cursor: pointer;
}

.mainProfile .mainInfo .btnBox .auditionBtn{
    display: inline-block;
    width: 118px;
    height: 39px;
    line-height: 39px;
    border-radius: 11px;
    box-shadow: 0 1px 13px 0 rgba(255, 138, 174, 0.25);
    background-color: #ff8aae;

    font-size: 14px;
    font-weight: bold;
    text-align: center;
    color: #fff;
    cursor: pointer;
}

.mainProfile .mainInfo .line{
    width: 100%;
    height: 2px;
    margin: 46px 0px 18px 0px;
    background-color: #000;
}

.mainProfile .mainInfo .introduction{
    font-size: 18px;
    font-weight: 500;
    line-height: 1.83;
    color: #000;
    margin-bottom: 31px;
}

/* 상세 정보 */
.subInfoBox{
    text-align: center;
    font-size: 0px;
    margin-bottom: 23px;
}

.subInfoBox .subInfoCate{
    display: inline-block;
    font-size: 18px;
    font-weight: bold;
    color: #b9b9b9;
    margin-left: 37px;
    cursor: pointer;
}

.subInfoBox .subInfoCate:first-child{
    margin-left: 0px;
}

.subInfoBox .subInfoCate.active{
    color: #1f1f1f;
}

.iframeBox{
    position: relative; /* absolute는 부모가 relative일 때 부모를 따라간다. */
    width: 100%;
    padding-bottom: 56.25%; /* 16:9 비율 */
    margin-bottom: 24px;
}

.subInfo iframe{
    position: absolute;
    left: 0px; top: 0px;
    width: 100%;
    height: 100%;
    border-radius: 22px;
}

.subInfo img{
    width: 100%;
    border-radius: 22px;
    margin-bottom: 20px;
}

.subInfo .infoTitle{
    margin-bottom: 17px;

    font-size: 16px;
    font-weight: bold;
    color: #1f1f1f;
}

.subInfo .careerTitle{
    display: inline-block;
    padding: 10px 7px;
    border-radius: 11px;
    background-color: rgba(221, 221, 221, 0.28);
    margin-bottom: 15px;
    margin-bottom: 15px;

    font-size: 14px;
    font-weight: bold;
    color: #292929;
}

.subInfo .careerContent{
    padding: 0px 10px;

    font-size: 12px;
    font-weight: 500;
    line-height: 2.08;
    color: #000;
    margin-bottom: 30px;
}