<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>원픽|나만의 ONEPICK</title>
    <!-- Index CSS 파일 및 JS 파일 include -->
    {% load static %}
    {% load my_filter %}
    <link rel="stylesheet" href="{% static 'css/web/profile/print_width.css' %}"> <!-- pc 버전 -->

    <link rel="icon" type="image/x-icon" href="{% static 'image/favicon.ico' %}">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'image/favicon.ico' %}">


    <script src="{% static 'js/profile/qrcode.js' %}"></script>
</head>
<body>




<div class="page">
    <div class="inbox">
        <div class="imageBox" style='background-image: url("/media/{{ profile.profileimage }}");'></div>
        <div class="logoImage"></div>

        <div class="InfoBox">
            <div class="name">{{ userInfo.name }}</div>
            <div class="userInfo">{{ userInfo.birth|replace:"-|/" }} ({{ userInfo.birth|userAge }}세)</div>

            <div class="userInfo_B">키 {{ profile.height|splits:"0|." }}cm / 몸무게 {{ profile.weight|splits:"0|." }} kg</div>

            <div class="userInfo">
                {% if userInfo.military != None %}
                    {% if userInfo.gender == "man" %}
                    {{ userInfo.military }} |
                    {% endif %}
                {% endif %}

                {% if userInfo.entertain|default:"" == "" %}
                소속사 없음<br>
                {% else %}
                소속사 있음<br>
                {% endif %}
            </div>
            <div class="userInfo">{{ userInfo.school }} {{ userInfo.major }}</div>
            <div class="userInfo">특기 요리 노래부르기 기타연주</div>

            <div id="qrcode"></div>

            {% if career.count >= 15 %}
            <div class="manyCareer">
                {% if profileImages|getArrayCount >= 2 %}
                <div class="images" style='background-image: url("/media/{{ profileImages.0 }}");'></div>
                <div class="images" style='background-image: url("/media/{{ profileImages.1 }}");'></div>
                {% elif profileImages|getArrayCount > 0 %}
                <div class="images" style='background-image: url("/media/{{ profileImages.0 }}");'></div>
                {% endif %}
            </div>
            {% elif career.count < 15 and career > 0 %}
            <div class="careerBox">
                <div class="logo"><span></span>영화</div>
                <div class="content">
                    {% if movieCareer|getArrayCount > 0 %}
                        {% for movieCareers in movieCareer %}
                            {{ movieCareers.3 }} | {{ movieCareers.4 }} | {{ movieCareers.1 }} | {{ movieCareers.2 }}<br>
                        {% endfor %}
                    {% else %}
                        경력없음
                    {% endif %}
                </div>
            </div>

            <div class="careerBox">
                <div class="logo"><span></span>TV드라마<br>웹드라마</div>
                <div class="content">
                    {% if dramaCareer|getArrayCount > 0 %}
                        {% for dramas in dramaCareer %}
                            {{ dramas.3 }} | {{ dramas.4 }} | {{ dramas.1 }} | {{ dramas.2 }}<br>
                        {% endfor %}
                    {% else %}
                        경력없음
                    {% endif %}
                </div>
            </div>

            <div class="careerBox">
                <div class="logo"><span></span>광고,기타</div>
                <div class="content">
                    {% if etcCareer|getArrayCount > 0 %}
                        {% for etcs in etcCareer %}
                            {{ etcs.3 }} | {{ etcs.4 }} | {{ etcs.1 }} | {{ etcs.2 }}<br>
                        {% endfor %}
                    {% else %}
                        경력없음
                    {% endif %}
                </div>
            </div>
            {% else %}
            <div class="careerBox smallMargin">
                <div class="logo"><span></span>영화</div>
                <div class="content">
                    {% if movieCareer|getArrayCount > 0 %}
                        {% for movieCareers in movieCareer %}
                            {{ movieCareers.3 }} | {{ movieCareers.4 }} | {{ movieCareers.1 }} | {{ movieCareers.2 }}<br>
                        {% endfor %}
                    {% else %}
                        경력없음
                    {% endif %}
                </div>
            </div>

            <div class="careerBox smallMargin">
                <div class="logo"><span></span>TV드라마<br>웹드라마</div>
                <div class="content">
                    {% if dramaCareer|getArrayCount > 0 %}
                        {% for dramas in dramaCareer %}
                            {{ dramas.3 }} | {{ dramas.4 }} | {{ dramas.1 }} | {{ dramas.2 }}<br>
                        {% endfor %}
                    {% else %}
                        경력없음
                    {% endif %}
                </div>
            </div>

            <div class="careerBox smallMargin">
                <div class="logo"><span></span>광고,기타</div>
                <div class="content">
                    {% if etcCareer|getArrayCount > 0 %}
                        {% for etcs in etcCareer %}
                            {{ etcs.3 }} | {{ etcs.4 }} | {{ etcs.1 }} | {{ etcs.2 }}<br>
                        {% endfor %}
                    {% else %}
                        경력없음
                    {% endif %}
                </div>
            </div>

            <div class="careerBox smallMargin">
                <div class="logo"><span></span>자기소개</div>
                <div class="content" style="height: 261px; overflow: hidden">
                    {{ profile.comment|linebreaks }}
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</div>

{% if career.count >= 15 %}
<div class="page">
    <div class="inbox">
        <div class="InfoBox">
            <div class="careerBox">
                <div class="logo"><span></span>영화</div>
                <div class="content">
                    {% if movieCareer|getArrayCount > 0 %}
                        {% for movieCareers in movieCareer %}
                            {{ movieCareers.3 }} | {{ movieCareers.4 }} | {{ movieCareers.1 }} | {{ movieCareers.2 }}<br>
                        {% endfor %}
                    {% else %}
                        경력없음
                    {% endif %}
                </div>
            </div>

            <div class="careerBox">
                <div class="logo"><span></span>TV드라마<br>웹드라마</div>
                <div class="content">
                    {% if dramaCareer|getArrayCount > 0 %}
                        {% for dramas in dramaCareer %}
                            {{ dramas.3 }} | {{ dramas.4 }} | {{ dramas.1 }} | {{ dramas.2 }}<br>
                        {% endfor %}
                    {% else %}
                        경력없음
                    {% endif %}
                </div>
            </div>

            <div class="careerBox">
                <div class="logo"><span></span>광고,기타</div>
                <div class="content">
                    {% if etcCareer|getArrayCount > 0 %}
                        {% for etcs in etcCareer %}
                            {{ etcs.3 }} | {{ etcs.4 }} | {{ etcs.1 }} | {{ etcs.2 }}<br>
                        {% endfor %}
                    {% else %}
                        경력없음
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="subProfile">
            {% if profileImages|getArrayCount >= 6 %}
            <div class="profileImage" style='background-image: url("/media/{{ profileImages.2 }}");'></div>
            <div class="profileImage" style='background-image: url("/media/{{ profileImages.3 }}");'></div>
            <div class="profileImage" style='background-image: url("/media/{{ profileImages.4 }}");'></div>
            <div class="profileImage" style='background-image: url("/media/{{ profileImages.5 }}");'></div>
            {% elif profileImages|getArrayCount >= 5 %}
            <div class="profileImage" style='background-image: url("/media/{{ profileImages.2 }}");'></div>
            <div class="profileImage" style='background-image: url("/media/{{ profileImages.3 }}");'></div>
            <div class="profileImage" style='background-image: url("/media/{{ profileImages.4 }}");'></div>
            {% elif profileImages|getArrayCount >= 4 %}
            <div class="profileImage" style='background-image: url("/media/{{ profileImages.2 }}");'></div>
            <div class="profileImage" style='background-image: url("/media/{{ profileImages.3 }}");'></div>
            {% elif profileImages|getArrayCount >= 3 %}
            <div class="profileImage" style='background-image: url("/media/{{ profileImages.2 }}");'></div>
            {% endif %}
        </div>
    </div>
</div>

{% if profileImages|getArrayCount >= 7 %}
<div class="page">
    <div class="inbox">
        {% if profileImages|getArrayCount >= 10 %}
            <div class="imageBox_4">
                <div class="image" style='background-image: url("/media/{{ profileImages.6 }}");'></div>
            </div>
            <div class="imageBox_4">
                <div class="image" style='background-image: url("/media/{{ profileImages.7 }}");'></div>
            </div>
            <div class="imageBox_4">
                <div class="image" style='background-image: url("/media/{{ profileImages.8 }}");'></div>
            </div>
            <div class="imageBox_4">
                <div class="image" style='background-image: url("/media/{{ profileImages.9 }}");'></div>
            </div>
        {% elif profileImages|getArrayCount >= 9 %}
            <div class="imageBox_3">
                <div class="image" style='background-image: url("/media/{{ profileImages.6 }}");'></div>
            </div>
            <div class="imageBox_3">
                <div class="image" style='background-image: url("/media/{{ profileImages.7 }}");'></div>
            </div>
            <div class="imageBox_3">
                <div class="image" style='background-image: url("/media/{{ profileImages.8 }}");'></div>
            </div>
        {% elif profileImages|getArrayCount >= 8 %}
            <div class="imageBox_2">
                <div class="image" style='background-image: url("/media/{{ profileImages.6 }}");'></div>
            </div>
            <div class="imageBox_2">
                <div class="image" style='background-image: url("/media/{{ profileImages.7 }}");'></div>
            </div>
        {% elif profileImages|getArrayCount >= 7 %}
            <div class="imageBox_1">
                <div class="image" style='background-image: url("/media/{{ profileImages.6 }}");'></div>
            </div>
        {% endif %}
    </div>
</div>
{% endif %}


{% elif profileImages|getArrayCount > 0 and career.count < 15 %}
<div class="page">
    <div class="inbox">
        {% if profileImages|getArrayCount >= 10 %}
            <div class="inBox_10">
                <div class="imageBox_10" style='background-image: url("/media/{{ profileImages.0 }}");'></div>
                <div class="imageBox_10" style='background-image: url("/media/{{ profileImages.1 }}");'></div>
                <div class="imageBox_10" style='background-image: url("/media/{{ profileImages.2 }}");'></div>
                <div class="imageBox_10" style='background-image: url("/media/{{ profileImages.3 }}");'></div>
                <div class="imageBox_10" style='background-image: url("/media/{{ profileImages.4 }}");'></div>
                <div class="imageBox_10" style='background-image: url("/media/{{ profileImages.5 }}");'></div>
                <div class="imageBox_10" style='background-image: url("/media/{{ profileImages.6 }}");'></div>
                <div class="imageBox_10" style='background-image: url("/media/{{ profileImages.7 }}");'></div>
                <div class="imageBox_10" style='background-image: url("/media/{{ profileImages.8 }}");'></div>
                <div class="imageBox_10" style='background-image: url("/media/{{ profileImages.9 }}");'></div>
            </div>
        {% elif profileImages|getArrayCount >= 9 %}
            <div class="inBox_9">
                <div class="imageBox_8" style='background-image: url("/media/{{ profileImages.0 }}");'></div>
                <div class="imageBox_8" style='background-image: url("/media/{{ profileImages.1 }}");'></div>
                <div class="imageBox_8" style='background-image: url("/media/{{ profileImages.2 }}");'></div>
                <div class="imageBox_8" style='background-image: url("/media/{{ profileImages.3 }}");'></div>
                <div class="imageBox_10" style='background-image: url("/media/{{ profileImages.4 }}"); margin-right: 10px'></div>
                <div class="imageBox_10" style='background-image: url("/media/{{ profileImages.5 }}");'></div>
                <div class="imageBox_10" style='background-image: url("/media/{{ profileImages.6 }}");'></div>
                <div class="imageBox_10" style='background-image: url("/media/{{ profileImages.7 }}");'></div>
                <div class="imageBox_10" style='background-image: url("/media/{{ profileImages.8 }}"); margin-right: 0px'></div>
            </div>
        {% elif profileImages|getArrayCount >= 8 %}
            {% for profile in profileImages %}
            <div class="imageBox_8" style='background-image: url("/media/{{ profile }}");'></div>
            {% endfor %}
        {% elif profileImages|getArrayCount >= 7 %}

            <div class="imageBox_6">
                <div class="image" style='background-image: url("/media/{{ profileImages.0 }}");'></div>
            </div>
            <div class="imageBox_6">
                <div class="image" style='background-image: url("/media/{{ profileImages.1 }}");'></div>
            </div>
            <div class="imageBox_6">
                <div class="image" style='background-image: url("/media/{{ profileImages.2 }}");'></div>
            </div>

            <div class="imageBox_8" style='background-image: url("/media/{{ profileImages.3 }}"); margin-right: 10px'></div>
            <div class="imageBox_8" style='background-image: url("/media/{{ profileImages.4 }}");'></div>
            <div class="imageBox_8" style='background-image: url("/media/{{ profileImages.5 }}");'></div>
            <div class="imageBox_8" style='background-image: url("/media/{{ profileImages.6 }}");margin-right: 0px'></div>
        {% elif profileImages|getArrayCount >= 6 %}
            {% for profile in profileImages %}
            <div class="imageBox_6">
                <div class="image" style='background-image: url("/media/{{ profile }}");'></div>
            </div>
            {% endfor %}
        {% elif profileImages|getArrayCount >= 5 %}
            <div class="imageBox_5">
                <div class="image" style='background-image: url("/media/{{ profileImages.0 }}");'></div>
            </div>
            <div class="imageBox_5">
                <div class="image" style='background-image: url("/media/{{ profileImages.1 }}");'></div>
            </div>

            <div class="imageBox_6">
                <div class="image" style='background-image: url("/media/{{ profileImages.2 }}");'></div>
            </div>
            <div class="imageBox_6">
                <div class="image" style='background-image: url("/media/{{ profileImages.3 }}");'></div>
            </div>
            <div class="imageBox_6">
                <div class="image" style='background-image: url("/media/{{ profileImages.4 }}");'></div>
            </div>
        {% elif profileImages|getArrayCount >= 4 %}
            {% for profile in profileImages %}
            <div class="imageBox_4">
                <div class="image" style='background-image: url("/media/{{ profile }}");'></div>
            </div>
            {% endfor %}
        {% elif profileImages|getArrayCount >= 3 %}
            {% for profile in profileImages %}
            <div class="imageBox_3">
                <div class="image" style='background-image: url("/media/{{ profile }}");'></div>
            </div>
            {% endfor %}
        {% elif profileImages|getArrayCount >= 2 %}
            {% for profile in profileImages %}
            <div class="imageBox_2">
                <div class="image" style='background-image: url("/media/{{ profile }}");'></div>
            </div>
            {% endfor %}
        {% elif profileImages|getArrayCount >= 1 %}
            {% for profile in profileImages %}
            <div class="imageBox_1">
                <div class="image" style='background-image: url("/media/{{ profile }}");'></div>
            </div>
            {% endfor %}
        {% endif %}
    </div>
</div>
{% endif %}

<script type="text/javascript">
var qrcode = new QRCode(document.getElementById("qrcode"), {
	text: "https://myonepick.com/profile/profileDetail/actor/{{ profile.num }}/",
	width: 68,
	height: 68,
	colorDark : "#000000",
	colorLight : "#ffffff",
	correctLevel : QRCode.CorrectLevel.H
});
</script>

</body>
</html>