/*
    Mobile용 index CSS
    Width : 300~767까지 넓이 조정.
            고정된 크기 사용하지 않기.
*/

/* Index Main Banner */
.mainBanner{
    width: 100%;
    min-width: 300px; /* width가 100%인경우 최소 수치 300. */
    height: 125px;
    border-radius: 22px;
    background-color: #c4c4c4;
    margin-bottom: 30px;
}

/* Index 제목 */
.mainTitle{
    position: relative;
    margin-bottom: 14px;
    padding : 3px;
    font-size: 15px;
    font-weight: bold;
    color: #282828;
}

.mainTitle span{
    position: absolute;
    right: 3px;
    bottom: 0px;

    font-size: 10px;
    font-weight: bold;
    color: #959595;
}

/* 내부 Box 간격 조정 */
.inBox{
    padding : 0px 3px;
    font-size : 0px;
}

/* 오디션 정보 CSS */
.audition{
    position: relative;
    display:  inline-block;
    width: calc(50% - 5.5px);
    height: 160px;
    margin-right: 11px;
    margin-bottom: 10px;
    box-sizing: border-box;
    overflow: hidden;
    padding: 12px 6px;

    border-radius: 22px;
    border: solid 1px #c0c0c0;
    background-color: #fff;
}

.audition:nth-child(2n){
    margin-right: 0px;
}

.audition .audiLogo{
    position: absolute;
    top: 12px;
    left: 6px;
    width: calc(100% - 12px);
    height: 74px;
    background-color: #fff;

    background-position: left center;
    background-repeat:  no-repeat;
    background-size: 100% 100%;
}

.audition .audiTitle{
    margin-top: 70px;
    margin-bottom: 10px;
    font-size: 11px;
    line-height: 1.6;
    font-weight: bold;
    color: #292929;
    min-height: 40px;
    box-sizing: border-box;

    /* 2줄 이상일 경우 ... 처리 */
    white-space : normal;
    overflow: hidden;
    display : -webkit-box;
    -webkit-line-clamp:2;
    -webkit-box-orient:vertical;
}
.audition .audiTerm{
    padding-left : 4px;
    font-size: 12px;
    font-weight: bold;
    color: #1f1f1f;
}

.audition .pickBtn{
    position: absolute;
    right: 10px;
    bottom: 10px;
    width: 24px;
    height: 24px;

    background-image: url("../../image/mobile/pick_off.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.audition .pickBtn.pickOn{
    background-image: url("../../image/mobile/pick_on.png");
}

/* 프로필 정보 CSS */
.profile{
    display:  inline-block;
    width: calc(50% - 8px);
    padding-bottom: 50%;
    margin-right: 16px;
    margin-bottom: 16px;
    border-radius: 22px;
    background-color: #c4c4c4;

    background-position: top;
    background-repeat:  no-repeat;
    background-size: cover;
}

.profile:nth-child(2n){
    margin-right: 0px;
}

/* 소베너 CSS */
.subBanner{
    padding-bottom: 23.5%;
    background-color: #c4c4c4;
    border-radius: 18px;

    background-position: center;
    background-repeat:  no-repeat;
    background-size: cover;
}

.subBanner:nth-child(2){
    display:  none;
}

/* 알바픽 정보 */
.partTime{
    position: relative;
    display:  inline-block;
    width: calc(50% - 8px);
    margin-right: 16px;
    margin-bottom: 16px;
    border-radius: 22px;
    padding : 18px 22px;
    box-shadow: 0 1px 13px 0 rgba(235, 235, 235, 0.9);
    background-color: #fff;
    box-sizing: border-box;
}
.partTime:nth-child(2n){
    margin-right: 0px;
}

.partTime .partDay{
    position: absolute;
    right: 18px;
    top: 18px;
    padding: 4px 10px;
    border-radius: 33px;
    background-color: #ff8aae;

    font-family: 'Spoqa Han Sans';
    font-size: 9px;
    font-weight: bold;
    color: #fff;
}

.partTime .partLogo{
    width: 100%;
    padding-bottom: 23.4%;
    background-color: #c4c4c4;
    margin-bottom: 2px;
}

.partTime .partTitle{
    margin-bottom: 7px;
    font-family: 'Spoqa Han Sans';
    font-size: 10px;
    line-height: 1.4;
    font-weight: bold;
    color: #292929;
    min-height: 28px;

    /* 2줄 이상일 경우 ... 처리 */
    white-space : normal;
    overflow: hidden;
    display : -webkit-box;
    -webkit-line-clamp:2;
    -webkit-box-orient:vertical;
}

.partTime .partInfo{
    display:  inline-block;
    margin-bottom: 4px;
    margin-right: 3px;
    background-color: #f4f4f4;
    border-radius: 22px;
    padding: 3px 8px;

    font-family: 'Spoqa Han Sans';
    font-size: 8px;
    font-weight: bold;
    color: #292929;
}

.swiper-button-prev , .swiper-button-next{
    --swiper-navigation-size : 26px !important;
}

.swiper-pagination-bullet {
    width: 6px !important;
    height: 6px !important;
}