
.title{
    font-size: 24px;
    font-weight: bold;
    color: #1f1f1f;
    margin-bottom: 10px;
}

.content{
    width: 1200px;
    padding: 30px;
    border-radius: 10px;
    box-sizing: border-box;
    background-color: #fff;
    margin-bottom: 60px;

    font-size: 14px;
    line-height: 2.14;
    color: #595959;
}