.mainBanner{
    width: 100%;
    padding-bottom: 35%;
    background-color: #c4c4c4;
    border-radius: 22px;
}

.title{
    margin-top: 25px;
    position: relative;

    font-size: 14px;
    font-weight: bold;
    color: #1f1f1f;
}

.title span{
    position: absolute;
    right: 0px;
    top: 50%;
    margin-top: -7px;
    height: 14px;
    line-height: 14px;
    font-size: 11px;
    font-weight: bold;
    color: #1f1f1f;
    cursor: pointer;
}

.inBox{
    padding: 14px 7px;
    font-size: 0px;
}

.inBox .audition{
    position: relative;
    display:  inline-block;
    width: calc(50% - 8.5px);
    padding: 15px;
    margin-right: 17px;
    margin-bottom: 21px;
    border-radius: 22px;
    box-shadow: 0 1px 13px 0 rgba(235, 235, 235, 0.9);
    background-color: #fff;
    box-sizing: border-box;
}
.audition:nth-child(2n){
    margin-right: 0px;
}

.audition .audiType{
    display: inline-block;
    float: right;
    border-radius: 33px;
    background-color: #f4f4f4;
    padding : 5px 10px;

    font-family: 'Spoqa Han Sans';
    font-size: 7px;
    font-weight: bold;
    color: #1f1f1f;
}

.audition .audiLogo{
    width: 100%;
    padding-bottom: 36.4%;
    background-color: #fff;
    margin-bottom: 2px;

    background-position: left center;
    background-repeat:  no-repeat;
    background-size: 100% auto;
}

.audition .audiTitle{
    margin-bottom: 7px;
    font-family: 'Spoqa Han Sans';
    font-size: 10px;
    line-height: 1.6;
    font-weight: bold;
    color: #292929;
    min-height: 32px;

    /* 2줄 이상일 경우 ... 처리 */
    white-space : normal;
    overflow: hidden;
    display : -webkit-box;
    -webkit-line-clamp:2;
    -webkit-box-orient:vertical;
}
.audition .audiTerm{
    font-family: 'Spoqa Han Sans';
    font-size: 9px;
    font-weight: bold;
    color: #1f1f1f;
    margin-bottom: 13px;
}

.audition .pickBtn{
    position: absolute;
    right: 15px;
    bottom: 19px;
    width: 19px;
    height: 15px;

    background-image: url("../../image/mobile/myPick.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}