{% extends 'picktalk/base.html' %}
{% block context %}

<!-- Index CSS 파일 및 JS 파일 include -->
{% load static %}
{% load my_filter %}
<link rel="stylesheet" media="all and (min-width:768px)" href="{% static 'css/web/user/advertise.css' %}"> <!-- pc 버전 -->
<link rel="stylesheet" media="all and (max-width:767px)" href="{% static 'css/mobile/user/advertise.css' %}" > <!-- 모바일 버전 -->

<!-- JS 파일 -->
<script src="{% static 'js/lounge/magaWrite.js' %}"></script>

<div class="body">
    <div class="mainTitle">매거진 수정</div>

    <div class="winBox">
    <form action="/lounge/magazine/editCallBack/" method="post" id="saveQanda" autocomplete="off">
        {% csrf_token %}
        <div class="joinInfo">
            <div class="title">제목</div>
            <div class="content"><input type="text" value="{{ magazine.title }}" id="title" name="title" placeholder="제목을 입력해주세요"/></div>
            <input type="hidden" name="num" id="num" value="{{ magazine.num }}">
        </div>


        <div class="joinInfo">
            <div class="title">내용</div>
            <div class="content"><textarea id="content" name="content" placeholder="내용을 입력해주세요">{{ magazine.content }}</textarea> </div>
        </div>

        <div class="joinInfo" style="margin-bottom: 0px">
            <div class="title">파일</div>
            <div class="content">
                {% if image|getArrayCount > 0 %}
                {% for images in image %}
                <div class="upload-display" style="background-image: url('{% get_media_prefix %}{{ images }}')">
                    <div class="upload-sub2" data-image="{{ images }}"></div>
                </div>
                {% endfor %}
                {% endif %}

                <input type="file" name="userImage[]" id="input-file" class="upload-hidden input-file">

                <div class="imageBox"></div>

                <label id="fileLabel" for="input-file"><div class="addImage"></div> 이미지 등록</label>


                <textarea name="removeImage" id="removeImage" style="display: none"></textarea>
            </div>
        </div>
    </form>
    </div>

    <div class="btnBox">
        <div class="sendBtn2">매거진 수정하기</div>
    </div>
</div>

{% endblock %}