{% extends 'picktalk/base.html' %}
{% block context %}

<!-- Index CSS 파일 및 JS 파일 include -->
{% load static %}
<link rel="stylesheet" media="all and (min-width:768px)" href="{% static 'css/web/user/mypage.css' %}"> <!-- pc 버전 -->
<link rel="stylesheet" media="all and (max-width:767px)" href="{% static 'css/mobile/user/mypage.css' %}" > <!-- 모바일 버전 -->

<!-- JS 파일 -->
<script src="{% static 'js/lounge/qandaList.js' %}"></script>

<div class="mTtitle">
    질문 게시판
    {% if type == "myList" %}
    <label class="textCheck" style="color: #ff8aae"><input type="checkbox" name="myView" id="myView" value="1" checked> 내가 쓴 글 보기 <div class="check on"></div>  </label>
    {% else %}
    <label class="textCheck"><input type="checkbox" name="myView" id="myView" value="1"> 내가 쓴 글 보기 <div class="check"></div>  </label>
    {% endif %}
</div>
<div class="notiBox">
    {% for qanda in qandaList %}
    <div class="notiList" data-num="{{ qanda.0 }}">
        <div class="title">
            <span>[{{ qanda.1 }}]</span>
            {{ qanda.2 }}
            [{{ qanda.4 }}]
        </div>
        <div class="date">{{ qanda.3|date:"Y/m/d" }}</div>
    </div>
    {% endfor %}

    <div class="addQandA mobileNone">문의 등록하기</div>
</div>

<div class="page">
    {% for pages in paging %}
        <div class="pages {% if pages == page %} nowPage {% endif %}"  data-page="{{ pages }}">{{ pages }}</div>
    {% endfor %}
</div>

<div class="addQandA pcNone">문의 등록하기</div>

{% endblock %}