{% extends 'picktalk/base.html' %}
{% block context %}

<!-- Index CSS 파일 및 JS 파일 include -->
{% load static %}
<link rel="stylesheet" media="all and (min-width:768px)" href="{% static 'css/web/user/advertise.css' %}"> <!-- pc 버전 -->
<link rel="stylesheet" media="all and (max-width:767px)" href="{% static 'css/mobile/user/advertise.css' %}" > <!-- 모바일 버전 -->

<!-- JS 파일 -->
<script src="{% static 'js/user/advertise.js' %}"></script>

<div class="body">
    <div class="mainTitle">질문 수정</div>

    <div class="winBox">
    <form action="/lounge/qanda/editCallBack/" method="post" id="saveQanda" autocomplete="off">
        {% csrf_token %}
        <div class="joinInfo">
            <div class="title">카테고리</div>
            <div class="content">
                <select name="cate" id="cate" style="color: #1f1f1f">
                    <option value="" selected disabled>카테고리 선택</option>
                    {% for cate in cates %}
                    <option value="{{ cate.catecode }}" {% if qanda.cate == cate.catecode %}selected{% endif %}>{{ cate.catename }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>

        <div class="joinInfo">
            <div class="title">제목</div>
            <div class="content"><input type="text" value="{{ qanda.title }}" id="title" name="title" placeholder="제목을 입력해주세요"/></div>
            <input type="hidden" name="num" id="num" value="{{ qanda.num }}">
        </div>


        <div class="joinInfo">
            <div class="title">내용</div>
            <div class="content"><textarea id="content" name="content" placeholder="내용을 입력해주세요">{{ qanda.content }}</textarea> </div>
        </div>

        <div class="textRight">
            {% if qanda.secret == "Y" %}
            <label class="textCheck" style="color: #ff8aae"><input type="checkbox" name="secret" id="secret" value="Y" checked> 비공개 설정 <div class="check on"></div>  </label>
            {% else %}
            <label class="textCheck"><input type="checkbox" name="secret" id="secret" value="Y"> 비공개 설정 <div class="check"></div>  </label>
            {% endif %}
        </div>
    </form>
    </div>

    <div class="btnBox">
        <div class="sendBtn2">수정하기</div>
    </div>
</div>

{% endblock %}