{% extends 'audition/audi_base.html' %}

{% block context_audi %}

<!-- Index CSS 파일 및 JS 파일 include -->
{% load static %}
<link rel="stylesheet" media="all and (min-width:768px)" href="{% static 'css/web/audi/index.css' %}"> <!-- pc 버전 -->
<link rel="stylesheet" media="all and (max-width:767px)" href="{% static 'css/mobile/audi/index.css' %}" > <!-- 모바일 버전 -->
<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
<!-- JS 파일 -->
<script src="{% static 'js/audi/index.js' %}"></script>

<!-- 메인 베너  subBanner -->
<div class="mobileBanner">
    <div class="swiper mySwiper mainBanner">
        <div class="swiper-wrapper">
            {% for banner in subBanner %}
            <div class="swiper-slide banner" data-url="{{ banner.url }}" style='background-image: url("/media/{{ banner.wimage }}")'></div>
            {% endfor %}
        </div>
        <div class="swiper-pagination"></div>

        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
    </div>
</div>

<!-- 추천 오디션 -->
<div class="title">추천 오디션</div>
<div class="inBox">
    {% for recomAudis in recomAudi %}
     <div class="audition" data-num="{{ recomAudis.0 }}">
        <div class="audiLogo" style='background-image: url("https://picktalk.s3.ap-northeast-2.amazonaws.com/media/{{ recomAudis.4 }}");'></div>
        <div class="audiTitle">{{ recomAudis.1 }}</div>
        <div class="audiTerm">
            {% if recomAudis.3 == "1" %}
                상시모집
            {% else %}
                ~ {{ recomAudis.2|date:'Y-m-d' }}
            {% endif %}
        </div>
        {% if recomAudis.5 == 0 or recomAudis.5 == "0" %}
        <div class="pickBtn" data-nowType="off"></div>
        {% else %}
        <div class="pickBtn pickOn " data-nowType="on"></div>
        {% endif %}
    </div>
    {% endfor %}
</div>

<!-- 마감 오디션 -->
<div class="title">마감임박 오디션</div>
<div class="inBox">
    {% for finishAudis in finishAudi %}
     <div class="audition" data-num="{{ finishAudis.0 }}">
        <div class="audiLogo" style='background-image: url("https://picktalk.s3.ap-northeast-2.amazonaws.com/media/{{ finishAudis.4 }}");'></div>
        <div class="audiTitle">{{ finishAudis.1 }}</div>
        <div class="audiTerm">
            {% if finishAudis.3 == "1" %}
                상시모집
            {% else %}
                ~ {{ finishAudis.2|date:'Y-m-d' }}
            {% endif %}
        </div>
        {% if finishAudis.5 == 0 or finishAudis.5 == "0" %}
        <div class="pickBtn" data-nowType="off"></div>
        {% else %}
        <div class="pickBtn pickOn " data-nowType="on"></div>
        {% endif %}
    </div>
    {% endfor %}
</div>

<!-- 전체 오디션 -->
<div class="title">전체 오디션</div>
<div class="inBox" style="padding-top: 0px">
    <div class="audiList">
        {% for auditions in audition %}
        <div class="audiListBox" data-num="{{ auditions.0 }}">
            <div class="audiLogo" style='background-image: url("https://picktalk.s3.ap-northeast-2.amazonaws.com/media/{{ auditions.8 }}");'></div>
            <div class="sContent">
                <div class="lTitle">{{ auditions.1 }}</div>
                <div class="lAppel">
                    <span>모집분야</span>
                    <p>{{ auditions.2 }}</p>
                    <span>경력</span>
                    <p>{{ auditions.3 }}</p>
                    <span>나이</span>
                    <p>{{ auditions.4 }}</p>
                </div>
            </div>
            <div class="date">
                {% if auditions.7 == '1' %}
                <div class="endDate">상시모집</div>
                {% elif auditions.7 == '0' %}
                <div class="endDate">~ {{ auditions.5|date:'Y/m/d' }}</div>
                {% endif %}
                {% if auditions.9 == 0 %}
                <div class="regDate">오늘 등록</div>
                {% else %}
                <div class="regDate">{{ auditions.9 }}일 전 등록</div>
                {% endif %}
            </div>

            {% if auditions.10 == 0 or auditions.10 == "0" %}
            <div class="pickBtn" data-nowType="off"></div>
            {% else %}
            <div class="pickBtn pickOn " data-nowType="on"></div>
            {% endif %}
        </div>
        {% endfor %}
    </div>
</div>

<div class="page">
    {% for pages in paging %}
        <div class="pages {% if pages == page %} nowPage {% endif %}"  data-page="{{ pages }}">{{ pages }}</div>
    {% endfor %}
</div>


<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

<!-- Initialize Swiper -->
<script>
    var cateType = '{{ cateType }}';
    var swiper = new Swiper(".mySwiper", {
        slidesPerView: 1,
        spaceBetween: 30,
        autoplay: {
          delay: 2500,
          disableOnInteraction: false,
        },
        loop: true,
        pagination: {
          el: ".swiper-pagination",
          clickable: true,
        },
         navigation: {
          nextEl: ".swiper-button-next",
          prevEl: ".swiper-button-prev",
        },
    });
</script>

{% endblock %}