/* Index Main Banner */
.mainBanner{
    width: 1220px;
    height: 450px;
    border-radius: 22px;
    background-color: #c4c4c4;
    margin-bottom : 50px;
    cursor: pointer;
}

/* Index 제목 */
.mainTitle{
    position : relative;
    font-size: 30px;
    font-weight: bold;
    color: #282828;
    padding: 0px 10px;
}

.mainTitle span{
    position : absolute;
    right : 10px;
    bottom: 0px;
    height : 36px;
    line-height : 36px;
    margin-top : -18px;
    font-size: 18px;
    font-weight: bold;
    color: #959595;
    cursor: pointer;
}

/* 내부 Box 간격 조정 */
.inBox{
    padding : 0px 10px;
    font-size : 0px;
}

.titleMargin{
    margin-top : 75px;
}

.noneMargin{
    margin : 0px !important;
}

/* Index 오디션 정보 */
.audition{
    position : relative;
    display : inline-block;
    width: 285px;
    height: 280px;
    border-radius: 33px;
    border: solid 1px #c0c0c0;
    background-color: #fff;
    margin-top: 20px;
    margin-right: 20px;
    box-sizing: border-box;
    overflow: hidden;
    padding: 0px 10px;

    cursor:pointer;
}

.audition:nth-child(4){
    margin-right: 0px;
}

.audition .audiLogo{
    position: absolute;
    background-color : #fff;
    width : calc(100% - 10px);
    height :128px;
    top: 10px;
    left: 10px;

    background-position: center;
    background-repeat:  no-repeat;
    background-size: 100% 100%;
}

.audition .audiTitle{
    display : block;
    height : 76px;
    margin-top: 148px;

    font-size: 18px;
    font-weight: bold;
    line-height: 1.65;
    letter-spacing: normal;
    color: #292929;

    /* 2줄 이상일 경우 ... 처리 */
    white-space : normal;
    overflow: hidden;
    display : -webkit-box;
    -webkit-line-clamp:2;
    -webkit-box-orient:vertical;
}

.audition .audiTerm{
    padding-left: 10px;
    height : 26px;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: normal;
    color: #1f1f1f;
}

.audition .pickBtn{
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: 41px;
    height: 41px;
    cursor: pointer;

    background-image: url("../../image/web/pick_off.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.audition .pickBtn.pickOn{
    background-image: url("../../image/web/pick_on.png");
}


/* Index 프로필 정보 */
.profile{
    width: 286px;
    height: 280px;
    background-color: #c4c4c4;
    display : inline-block;
    margin-right : 17px;
    border-radius: 33px;
    cursor:  pointer;

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.profile:nth-child(4){
    margin-right: 0px;
}

/* 소베너 */
.profileBlank{
    height : 58px;
}

.subBanner{
    display : inline-block;
    width: 584px;
    height: 256px;
    background-color: #c4c4c4;
    margin-right : 29px;
    border-radius: 33px;

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    cursor: pointer;
}

.subBanner:nth-child(2){
    margin-right: 0px;
}

/* Index 프로필 정보 */
.partTime{
    position: relative;
    display: inline-block;
    width: 285px;
    height: 280px;
    padding: 25px;
    border-radius: 33px;
    box-shadow: 0 1px 13px 0 rgba(235, 235, 235, 0.9);
    background-color: #fff;
    margin-right: 19px;
    box-sizing: border-box;
    cursor: pointer;
}

.partTime .partDay{
    position: absolute;
    right: 20px;
    top: 25px;
    padding : 8px 18px;
    border-radius: 44px;
    background-color: #ff8aae;
    font-size: 22px;
    font-weight: bold;
    color: #fff;
}

.partTime .partLogo{
    height: 72px;
    background-color: #c4c4c4;
    margin-bottom: 7px;
}

.partTime .partTitle{
    height: 60px;
    font-size: 20px;
    font-weight: bold;
    line-height: 1.4;
    color: #292929;
    margin-bottom: 9px;

    /* 2줄 이상일 경우 ... 처리 */
    white-space : normal;
    overflow: hidden;
    display : -webkit-box;
    -webkit-line-clamp:2;
    -webkit-box-orient:vertical;
}

.partTime .partInfo{
    display:  inline-block;
    margin-bottom: 5px;
    margin-right: 7px;
    background-color: #f4f4f4;
    border-radius: 22px;
    padding: 8px 10px;

    font-size: 13px;
    font-weight: bold;
    color: #1f1f1f;
}