{% extends 'picktalk/base.html' %}
{% block context %}

<!-- Index CSS 파일 및 JS 파일 include -->
{% load static %}
<link rel="stylesheet" media="all and (min-width:768px)" href="{% static 'css/web/user/login.css' %}"> <!-- pc 버전 -->
<link rel="stylesheet" media="all and (max-width:767px)" href="{% static 'css/mobile/user/login.css' %}" > <!-- 모바일 버전 -->

<!-- JS 파일 -->
<script src="{% static 'js/user/findUser.js' %}"></script>

<div class="title">아이디 찾기</div>
<div class="inBox inBox2" style="margin-top: 90px">
    <div class="loginBox">
        <div class="inputBox">
            <input type="text" name="userName" id="userName" placeholder="이름 입력">
            <input type="text" name="userPhone" id="userPhone" placeholder="전화번호 입력">
        </div>
        <div class="button idFindBtn">찾기</div>
    </div>

    <div class="loginBox loginBox2">
        <div class="inputBox2">
        </div>
        <div class="button findBtn">선택</div>
    </div>

    <div class="nonInfo">
        입력하신 정보와 일치하는 계정 정보가 없습니다. 정보를 확인해 주세요.
    </div>
</div>

<div class="fInfo">
    회원 정보의 등록된 이름과 전화번호를 정확히 입력해주세요.<br>
    회원님 본인의 정보를 모를실 때는 관리자(onepick@myonepick.com)에게 이메일로 문의해 주시기 바랍니다.
</div>

<div class="title">비밀번호 찾기</div>
<div class="inBox inBox2">
    <div class="loginBox">
        <div class="inputBox">
            <input type="text" name="userID" id="userID" placeholder="아이디 입력">
            <input type="text" name="userName2" id="userName2" placeholder="이름 입력">
        </div>
        <div class="button pwFindBtn">찾기</div>
    </div>
</div>

<div class="fInfo">
    회원 정보의 등록된 아이디와 이름을 정확히 입력해주세요.<br>
    회원님 본인의 정보를 모를실 때는 관리자(onepick@myonepick.com)에게 이메일로 문의해 주시기 바랍니다.
</div>

<div class="findPw">
    <div class="title">비밀번호 재설정</div>
    <div class="inBox inBox2" style="margin-top: 90px">
        <div class="loginBox">
            <div class="inputBox">
                <input type="password" name="pw1" id="pw1" placeholder="비밀번호 입력">
                <input type="password" name="pw2" id="pw2" placeholder="비밀번호 재입력">
            </div>
            <div class="button setPWBtn">재설정</div>
        </div>
    </div>
</div>


{% endblock %}