{% extends 'picktalk/base.html' %}
{% block context %}

<!-- Index CSS 파일 및 JS 파일 include -->
{% load static %}
<link rel="stylesheet" media="all and (min-width:768px)" href="{% static 'css/web/user/join.css' %}"> <!-- pc 버전 -->
<link rel="stylesheet" media="all and (max-width:767px)" href="{% static 'css/mobile/user/join.css' %}" > <!-- 모바일 버전 -->
<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />

<!-- JS 파일 -->
<script src="{% static 'js/user/join.js' %}"></script>

<div class="body">
    <form action="/users/joins/updateUser/" method="post" id="saveUserForm">
        {% csrf_token %}
        <input type="hidden" value="{{ user.num }}" id="num" name="num"/>

        <div class="joinInfo">
            <div class="title">ID</div>
            <div class="content">{{ user.userid }}</div>
        </div>


        <div class="joinInfo">
            <div class="title">이름</div>
            <div class="content"><input type="text" value="{{ user.name|default:"" }}" id="name" name="name" maxlength="5"/> </div>
        </div>


        <div class="joinInfo">
            <div class="title">전화번호</div>
            <div class="content">
                <select name="phone1" id="phone1">
                    <option value="010" {% if phone.0 == "010" %} selected {% endif %}>010</option>
                    <option value="011" {% if phone.0 == "011" %} selected {% endif %}>011</option>
                    <option value="016" {% if phone.0 == "016" %} selected {% endif %}>016</option>
                    <option value="017" {% if phone.0 == "017" %} selected {% endif %}>017</option>
                    <option value="019" {% if phone.0 == "019" %} selected {% endif %}>019</option>
                </select> -
                <input type="text" value="{{ phone.1|default:"" }}" id="phone2" name="phone2" maxlength="4"/> -
                <input type="text" value="{{ phone.2|default:"" }}" id="phone3" name="phone3" maxlength="4"/>
            </div>
        </div>


        <div class="joinInfo">
            <div class="title">e-mail</div>
            <div class="content">
                <input type="text" value="{{ email.0|default:"" }}" id="email11" name="email1"/> @
                <input type="text" value="{{ email.1|default:"" }}" id="email12" name="email12"/>
                <select name="email_select" id="email_select">
                    <option value="">  이메일주소 직접입력  </option>
                    <option value="naver.com">naver.com</option>
                    <option value="nate.com">nate.com</option>
                    <option value="gmail.com">gmail.com</option>
                    <option value="yahoo.com">yahoo.com</option>
                    <option value="hanmail.net">hanmail.net</option>
                </select>


                <label><input type="radio" value="1" name="agreeMail" id="agreeMail" checked> 동의 </label>
                <label><input type="radio" value="0" name="agreeMail" id="agreeMail"> 미동의 </label>
            </div>
        </div>


        <div class="joinInfo">
            <div class="title">생년월일</div>
            <div class="content">
                <input type="text" value="{{ birth.0|default:"" }}" id="brith1" name="brith1" maxlength="4"/> 년
                <input type="text" value="{{ birth.1|default:"" }}" id="brith2" name="brith2" maxlength="2"/> 월
                <input type="text" value="{{ birth.2|default:"" }}" id="brith3" name="brith3" maxlength="2"/> 일

                <label><input  type="radio" value="lunar" name="brithType" {% if user.birthtype == "lunar" %} checked {% endif %}> 음력 </label>
                <label><input  type="radio" value="solar" name="brithType" {% if user.birthtype == "solar" or user.birthtype == None %} checked {% endif %}> 양력 </label>
            </div>
        </div>


        <div class="joinInfo">
            <div class="title">성별</div>
            <div class="content">
                <label><input type="radio" value="man" name="gender" id="gender" {% if user.gender == "man" or user.gender == None %} checked {% endif %}> 남자 </label>
                <label><input type="radio" value="girl" name="gender" id="gender" {% if user.gender == "girl" %} checked {% endif %}> 여자 </label>

            </div>
        </div>


        {% for agree in userAgree %}
        <div class="joinInfo">
            <div class="title">{{ agree.title }}</div>
            <div class="content2">
                <textarea>{{ agree.content }}</textarea>
            </div>

            <label><input type="checkbox" name="{{ agree.savecolumn }}"  id="agree_{{forloop.counter}}" class="agree"> 동의합니다. </label>
        </div>
        {% endfor %}

        <label><input type="checkbox" id="allCheck"> 전체 동의 </label>
    </form>

    <div class="sendBtn">저장</div>
</div>

{% endblock %}