{% extends 'picktalk/base.html' %}
{% block context %}

<!-- Index CSS 파일 및 JS 파일 include -->
{% load static %}
<link rel="stylesheet" media="all and (min-width:768px)" href="{% static 'css/web/user/login.css' %}"> <!-- pc 버전 -->
<link rel="stylesheet" media="all and (max-width:767px)" href="{% static 'css/mobile/user/login.css' %}" > <!-- 모바일 버전 -->

<!--
<script type="text/javascript" src="https://appleid.cdn-apple.com/appleauth/static/jsapi/appleid/1/en_US/appleid.auth.js"></script>

<meta name="appleid-signin-client-id" content="picktalk">
<meta name="appleid-signin-scope" content="name email">
<meta name="appleid-signin-redirect-uri" content="https://ksnpick.com/users/login/apple/callback/">
<meta name="appleid-signin-state" content="aaa">
<meta name="appleid-signin-use-popup" content="flase">
-->

<!-- JS 파일 -->
<script src="{% static 'js/user/login.js' %}"></script>

<div class="inBox" style="margin-top: 90px; margin-bottom: 150px">
    <div class="logoBox">
        <div class="logo"></div>
    </div>

    <div class="line"></div>

    <div class="textInfo" style="font-size: 32px;margin-bottom: 50px">
        원픽과 함께 당신의 꿈을 PICK 하러 가보실까요?
    </div>

    <div class="socialBox">
        <div class="socialBtn" id="kakaoLogin"></div>
        <div class="socialBtn" id="gogleLogin"></div>
        <div class="socialBtn" id="naverLogin"></div>
        <!--<div class="socialBtn" id="appleid-signin"  data-mode="logo-only" data-color="black" data-border-radius="50" data-size="85"></div>-->
    </div>
</div>


{% endblock %}