{% extends 'onepickAdmin/base.html' %}
{% block context %}

<!-- Index CSS 파일 및 JS 파일 include -->
{% load static %}
{% load my_filter %}
<link rel="stylesheet" href="{% static 'css/onepickAdmin/display/audiList.css' %}"> <!-- pc 버전 -->

<!-- JS 파일 -->
<script src="{% static 'js/onepickAdmin/display/audiList.js' %}"></script>

<div class="inBox">
    <div class="title">
        오디션 진열 관리

        <select name="viewType" id="viewType">
            <option value="main" {% if type == "main" %}selected{% endif %} >홈(메인)</option>
            <option value="audiList" {% if type == "audiList" %}selected{% endif %} >오디션 홈</option>
        </select>
    </div>

    <div class="viewBox">
        <input type="text" id="search" placeholder="검색어 입력( 글번호, 기업명, 제목 )">

        <div class="searchList">
            {% for audi in audition %}
            <div class="contentList">
                <div class="companyName">{{ audi.1 }}</div>
                <div class="audiTitle">{{ audi.2 }}</div>
                <div class="regDate">{{ audi.3|date:"Y/m/d" }}</div>
                <div class="checkBox">
                    <input type="checkbox" class="profileCheck" name="profile" value="{{ audi.0 }}" id="check_{{ forloop.counter0 }}" {% if audi.4 > 0 %} checked {% endif %}>
                    <label class="checkProfile" for="check_{{ forloop.counter0 }}"></label>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    <div class="viewBox">
        <div class="inTitle">
            <div class="order">순서</div>
            <div class="companyName">기업명</div>
            <div class="audiTitle">오디션 제목</div>
            <div class="regDate">등록일</div>
        </div>

        <div class="in_line"></div>

        <div class="contentBox">
            {% for recom in recommend %}
            <div class="contentList" data-num="{{ recom.5 }}" data-order="{{ recom.1 }}">
                <div class="order">{{ recom.1 }}</div>
                <div class="companyName">{{ recom.2 }}</div>
                <div class="audiTitle">{{ recom.3 }}</div>
                <div class="regDate">{{ recom.4|date:"Y/m/d" }}</div>
            </div>

            {% endfor %}
        </div>
    </div>

    <div class="btnBox">
        <div class="sendBtn">적용하기</div>
    </div>

    <div class="btnBox2">
        <div class="allDown circleBtn" data-type="allDown"></div>
        <div class="down circleBtn" data-type="down"></div>
        <div class="up circleBtn" data-type="up"></div>
        <div class="allUp circleBtn" data-type="allUp"></div>
    </div>
</div>

<script>
  $.ajaxSetup({
    headers: { "X-CSRFToken": '{{csrf_token}}' }
  });

  var viewType =  "{{ type }}";
  var active = "";
  var order = "";
</script>

{% endblock %}