{% extends 'website/base.html' %}
{% block context %}

<!-- Index CSS 파일 및 JS 파일 include -->
{% load static %}
<link rel="stylesheet" media="all and (min-width:768px)" href="{% static 'css_v2/web/login/joinUser.css' %}"> <!-- pc 버전 -->
<link rel="stylesheet" href="{% static 'css_v2/datepicker.min.css' %}">
<link rel="stylesheet" media="all and (max-width:767px)" href="{% static 'css_v2/mobile/login/joinUser.css' %}" > <!-- 모바일 버전 -->

<!-- JS 파일 -->
<script src="{% static 'js_v2/website/login/joinUser.js' %}"></script>
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script src="{% static 'js_v2/website/jquery/datepicker.min.js' %}"></script>

<!-- 본문 내용 -->
<div class="container_2">

    <div class="mainTitle">개인 회원 가입</div>

    <div class="body">

        <form action="/login/joinUserCallback/" method="post" id="saveUserForm" enctype="multipart/form-data"  autocomplete="off">
        {% csrf_token %}

            <div class="inTitle">필수정보</div>

            <div class="winBox">

                <div class="joinInfo">
                    <div class="title">ID</div>
                    <div class="content">
                        <div class="overBtnBox">
                            <input type="text" value="{{ userInfo.userid }}" id="userID" name="user_id" placeholder="아이디를 입력해주세요." style="background-color: #fff; border: 1px solid #1f1f1f; color: #1f1f1f"/>
                        </div>
                    </div>
                </div>

                <div class="joinInfo">
                    <div class="title cName">이름</div>
                    <div class="content"><input type="text" value="" id="name" name="name" maxlength="5" placeholder="이름을 입력해주세요"/> </div>
                </div>

                <div class="joinInfo">
                    <div class="title">이메일</div>
                    <div class="content">
                        <input type="text" value="" id="email" name="email" placeholder="이메일 주소를 입력해주세요.(ex.hello@onepick.com)"/>
                    </div>
                </div>

                <div class="joinInfo">
                    <div class="title cPhone">연락처</div>
                    <div class="content">
                        <div class="overBtnBox" style="margin-bottom: 10px">
                            <input type="text" value="" id="phone" name="phone" maxlength="11" placeholder="연락처를 '-' 없이 입력해주세요. (ex.01012345678)"/>
                            <div class="overBtn confirmPhone">인증하기</div>
                        </div>

                        <div class="overBtnBox" style="margin-bottom: 12px">
                            <input type="text" value="" id="confirm" name="confirm" maxlength="4" placeholder="인증번호 입력"/>
                            <div class="overBtn disabled findConfirm">인증완료</div>
                        </div>
                        <input type="checkbox" name="confirmCheck" id="confirmCheck" style="display: none">
                    </div>
                </div>


                <div class="joinInfo">
                    <div class="title cPhone">생년월일, 성별</div>
                    <div class="content">
                        <input type="text" value="" id="birth" name="birth" placeholder="선택" data-toggle="datepicker" readonly>

                        <select name="gender" id="gender">
                            <option value="" disabled selected>성별</option>
                            <option value="man">남성</option>
                            <option value="girl">여성</option>
                        </select>
                    </div>
                </div>

                <div class="joinInfo">
                    <div class="title">주소</div>
                    <div class="content">
                        <div class="overBtnBox" style="margin-bottom: 10px">
                            <input type="text" value="" id="companyAddr1" name="companyAddr1" placeholder="주소 검색" readonly/>
                            <div class="overBtn findAddr2" data-type="company">우편번호 검색</div>
                        </div>
                        <input type="text" value="" id="companyAddr2" name="companyAddr2" placeholder="상세 주소 검색"/>>
                    </div>
                </div>

                <div class="joinInfo">
                    <div class="title">
                        광고 수신 동의
                        <label class="textCheck emailCheck"><input type="checkbox" name="emailCheck" id="emailCheck" value="1" checked> 이메일 <div class="check  on"></div>  </label>
                        <label class="textCheck phoneCheck"><input type="checkbox" name="phoneCheck" id="phoneCheck" value="1" checked> SMS <div class="check  on"></div>  </label>
                    </div>
                </div>

            </div>

        </form>

        <div class="btnBox">
            <div class="sendBtn">가입하기</div>
        </div>
    </div>
</div>

{% endblock %}