
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #FAFAFA;
    font: 12pt "Tahoma";
}
* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.page{
    width: 297mm;
    height: 210mm;
    margin: 10mm auto;
    padding: 32px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    font-size: 0px;
}

@page {
    size: A4 landscape;
    margin: 0;
}
@media print {
    html, body{
        margin :0px;
        padding :0px;
        width: calc(297mm - 5px);
        height: calc(210mm - 5px);
    }
    .page {
        background-color: #c0c0c0;
        width: calc(297mm - 5px);
        height: calc(210mm - 5px);
        margin: 0;
        border: initial;
        border-radius: initial;
        min-height: initial;
        box-shadow: initial;
        page-break-after: always;
        box-sizing: border-box;
    }
}


.imageBox{
    display: inline-block;
    width: 606px;
    height: 730px;
    vertical-align: top;
    box-sizing: border-box;

    background-position: top center;
    background-repeat: no-repeat;
    background-size: 100% auto;
}

.InfoBox{
    display: inline-block;
    border : 1px solid red;
    height: 100%;
    padding-left: 27px;
    padding-top: 12px;
}