html { scrollbar-color: #6969dd #e0e0e0; scrollbar-width: thin; }

.inBox{
    width: 1200px;
    padding: 20px 0px 32px 20px;
    border-radius: 33px;
    border: solid 1px #c0c0c0;
    background-color: #fff;
    box-sizing: border-box;
    font-size: 0px;
    margin-left: 10px;
    margin-bottom:30px;
}

.inBox .mainImage{
    display: inline-block;
    width: 360px;
    height: 520px;
    margin: 0 20px 20px 0;
    border-radius: 33px;
    background-color: #aaaaaa;
}

.inBox .userInfo{
    position: relative;
    display: inline-block;
    width: 750px;
    height: 520px;
    border-bottom: 1px solid #c0c0c0;
    vertical-align: top;
    padding: 30px 20px 25px;
    box-sizing: border-box;
}

.inBox .userInfo .userName{
    height: 33px;

    font-size: 24px;
    font-weight: bold;
    color: #282828;
}

.inBox .userInfo .info{
    height: 99px;
    margin-top: 17px;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.83;
    color: #282828;
}

.inBox .userInfo .info:nth-child(3){
    height: 66px;
    margin-top: 11px;
}

.inBox .userInfo .info:nth-child(5){
    height: 66px;
}

.inBox .userInfo .snsBox{
    height: 50px;
    margin-top: 24px;
    margin-bottom: 8px;
}

.inBox .userInfo .snsBox div{
    display: inline-block;
    width: 50px;
    height: 50px;
    margin-right: 17px;
}

.inBox .userInfo .snsBox div.instagram{ background-image: url("../../../image/web/instagram.png")}
.inBox .userInfo .snsBox div.youtube{ background-image: url("../../../image/web/youtube.png")}

.inBox .userInfo .allCareer{
    margin-top: 39px;
    font-size: 22px;
    font-weight: bold;
    color: #ff8aae;
}


.viewBox{
    position: absolute;
    bottom: 20px;
    right: 255px;
    width: 90px;
    font-size: 0px;
}

.viewBox .countBox{
    display: inline-block;
    height: 43px;
    width: 28px;
    margin-right: 3px;
}

.viewBox .countBox:nth-child(3){
    margin-right: 0px;
}

.viewBox .countBox span{
    display: inline-block;
    width: 28px;
    height: 28px;

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.viewBox .countBox span.viewCount{ background-image: url("../../../image/web/viewCount.png")}
.viewBox .countBox span.pickCount{ background-image: url("../../../image/web/pickCount.png")}
.viewBox .countBox span.comViewCount{ background-image: url("../../../image/web/companyView.png")}

.viewBox .countBox p{
    margin: 0px;
    padding: 0px;

    font-size: 12px;
    font-weight: 500;
    text-align: center;
    color: #ff8aae;
}

.pickBtn{
    position: absolute;
    bottom: 21.5px;
    right: 194px;
    width: 41px;
    height: 41px;
    cursor: pointer;

    background-image: url("../../../image/web/pick_off.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.pickBtn.pickOn{
    background-image: url("../../../image/web/pick_on.png");
}

.inBox .userInfo .oditionBtn{
    position: absolute;
    right: 0px;
    bottom: 15.5px;
    width: 164px;
    height: 54px;
    border-radius: 22px;
    background-color: #ff8aae;
    line-height: 54px;
    cursor: pointer;

    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: #fff;
}



.careerBox{
    width: 1100px;
    box-sizing: border-box;
    margin: 0px 30px;
    border-bottom : 1px solid #c0c0c0;
}

.careerBox .leftBox, .careerBox .rightBox{
    display: inline-block;
    width: 50%;
    vertical-align: top;
    margin-bottom: 32px;
}

.title{
    font-size: 20px;
    font-weight: bold;
    color: #ff8aae;
    line-height: 33px;
}

.careerBox .content{
    font-size: 20px;
    font-weight: bold;
    color: #4d4d4d;
    line-height: 33px;
}

.introduction {
    width: 1100px;
    box-sizing: border-box;
    margin: 15px 30px;
    font-size: 18px;
    font-weight: bold;
    line-height: 1.83;
    color: #4d4d4d;
}

.viewDetail{
    margin-left: -20px;
}

.viewDetail .title{
    padding-left: 50px;
}

.imageBox{
    overflow: hidden;

     /* 가로 스크롤 */
    overflow: auto;
    white-space: nowrap;
    padding-top: 13px;
    padding-bottom: 5px;
    margin-bottom: 25px;
}

.imageBox#profile img{
    height: 440px;
    margin-right: 20px;
    border-radius: 22px;
}

.imageBox#actImage img{
    height: 380px;
    margin-right: 20px;
    border-radius: 22px;
}

.imageBox#profileMovie iframe{
    width: 550px;
    height: 310px;
    border-radius: 22px;
    margin-right: 20px;
}

.imageBox::-webkit-scrollbar {
    width: 5px;
    height: 10px;
}
.imageBox::-webkit-scrollbar-thumb {
    background-color: #fff;
    border-radius: 10px;
    background-clip: padding-box;
    border: 2px solid transparent;
}

.imageBox::-webkit-scrollbar-track {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: inset 0px 0px 5px white;
}

.imageBox .blank{
    width: 50px;
    display: inline-block;
}

.imageBox:hover::-webkit-scrollbar-thumb {
    background-color: #D6D6D6;
    border-radius: 10px;
    background-clip: padding-box;
    border: 2px solid transparent;
}

.imageBox:hover::-webkit-scrollbar-track {
    background-color: #F6F6F6;
    border-radius: 10px;
    box-shadow: inset 0px 0px 5px white;
}

.inBox .inputBox{
    padding : 0px 30px;
    box-sizing: border-box;
    width: 100%;
}

.inBox .commentList{
    padding : 10px 30px 0px 30px;
    box-sizing: border-box;
    width: 100%;
}

.inBox .inputBox #comment{
    width: 940px;
    height: 56px;
    padding: 16px 18px;
    border-radius: 11px;
    background-color: #f6f6f6;
    box-sizing: border-box;
    outline: none;
    border: 0px;
    font-size: 18px;
    font-weight: bold;
    line-height: 1.2em;
    margin-right: 10px;
}
.inBox .inputBox #comment::placeholder{
    font-size: 18px;
    font-weight: bold;
    color: #c0c0c0;
}

.inBox .inputBox .saveComment{
    display: inline-block;
    width: 150px;
    height: 56px;
    line-height: 56px;
    text-align: center;
    border-radius: 11px;
    background-color: #ff8aae;

    font-size: 18px;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
}

.comments{
    padding: 19px 10px;
    border-top: 1px solid #c0c0c0;
}

.comments .name{
    font-size: 18px;
    font-weight: 500;
    color: #1f1f1f;
}