
.title{
    font-size: 14px;
    font-weight: bold;
    color: #1f1f1f;
    margin-bottom: 6px;
}

.content{
    width: calc(100% - 20px);
    padding: 10px;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: #fff;
    margin-bottom: 65px;

    font-size: 10px;
    line-height: 2.14;
    color: #595959;
}