{% extends 'website/base.html' %}
{% block context %}

<!-- Index CSS 파일 및 JS 파일 include -->
{% load static %}
<link rel="stylesheet" media="all and (min-width:768px)" href="{% static 'css_v2/web/user/advertise.css' %}"> <!-- pc 버전 -->
<link rel="stylesheet" media="all and (max-width:767px)" href="{% static 'css_v2/mobile/user/advertise.css' %}" > <!-- 모바일 버전 -->

<!-- JS 파일 -->
<script src="{% static 'js_v2/website/lounge/magaWrite.js' %}"></script>

<div class="container">
    <div class="body">
        <div class="mainTitle">매거진 등록</div>

        <div class="winBox">
        <form action="/lounge/magazine/writeCallBack/" method="post" id="saveQanda" enctype="multipart/form-data"  autocomplete="off">
            {% csrf_token %}
            <div class="joinInfo">
                <div class="title">제목</div>
                <div class="content"><input type="text" value="" id="title" name="title" placeholder="제목을 입력해주세요"/></div>
            </div>


            <div class="joinInfo">
                <div class="title">내용</div>
                <div class="content"><textarea id="content" name="content" placeholder="내용을 입력해주세요"></textarea> </div>
            </div>

            <div class="joinInfo" style="margin-bottom: 0px">

                <div class="title">파일</div>
                <div class="content">

                    <input type="file" name="userImage[]" id="input-file" class="upload-hidden input-file">

                    <div class="imageBox"></div>

                    <label id="fileLabel" for="input-file"> <div class="addImage"></div> 이미지 등록</label>

                </div>
            </div>
        </form>
        </div>

        <div class="btnBox">
            <div class="sendBtn2">매거진 등록하기</div>
        </div>
    </div>
</div>

{% endblock %}