{% load my_filter %}
{% if comment|getArrayCount > 0 %}
    {% for comments in comment %}
    <div class="comments">
        {% if comments.userid|findUserType == "admin" %}
        <div class="name">원픽관리자</div>
        {% else %}
        <div class="name">{{ comments.userid|getUserName }}</div>
        {% endif %}
        <div class="comContent">{{ comments.content }}</div>
        {% if request.session.userType == "admin" or request.session.id == comments.userid  %}
        <div class="commentDelete" data-num="{{ comments.num }}"></div>
        {% else %}
        <div class="nonDelete"></div>
        {% endif %}
        <div class="date">{{ comments.regtime|date:"Y-m-d" }}</div>
    </div>
    {% endfor %}
{% else %}
    <div class="comments">
        <div class="nonComments">댓글이 없습니다.</div>
    </div>
{% endif %}