.inBox{
    font-size: 0px;
}

.leftBox{
    display: inline-block;
    position: relative;
    width: 30%;
    height: 700px;
    box-sizing: border-box;
}

.leftBox .profileImage{
    position: absolute;
    top: 50px;
    left: 50%;
    margin-left: -175px;
    width: 350px;

}

.profileImage img{
    width: 100%;
}

.rightBox{
    display: inline-block;
    position: relative;
    vertical-align: top;
    width: 70%;
    height: 700px;
}

.rightBox .subTitle{
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 10px;
}

.rightBox .inputBox {
    position: relative;
    height: 80px;
    border: 1px solid #959595;
    box-sizing: border-box;
    padding: 5px 10px;
    overflow-y: scroll;
    background-color: #ffffff;
    margin-bottom: 20px;
}

.rightBox .inputBox2 {
    position: relative;
    height: 150px;
    border: 1px solid #959595;
    box-sizing: border-box;
    padding: 5px 10px;
    overflow-y: scroll;
    background-color: #ffffff;
    margin-bottom: 20px;
}

.imgExpand, .faceExpand, .bodyExpand, .jobExpand{
    display: inline-block;
    vertical-align: top;
    margin-right: 10px;
    margin-bottom: 10px;
    font-weight: normal;

    cursor: pointer;
    font-size: 14px;
    text-align: center;
    color:#959595;
}

.imgRadio:checked+label,
.faceRadio:checked+label,
.bodyRadio:checked+label,
.jobRadio:checked+label{
    color:#ff8aae;
    font-weight: bold;
}

.imgRadio, .faceRadio, .bodyRadio, .jobRadio{
    display: none;
}

.btnBox {
    width: 100%;
    text-align: right;
    margin-top: 20px;
}

.btnBox .sendBtn{
    display: inline-block;
    width: 150px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-weight: bold;
    font-size: 16px;
    color: #ffffff;
    background-color: #ff8aae;
    border-radius: 10px;
    cursor: pointer;
}