{% extends 'website/base.html' %}
{% block context %}

<!-- Index CSS 파일 및 JS 파일 include -->
{% load static %}
<link rel="stylesheet" media="all and (min-width:768px)" href="{% static 'css_v2/web/user/agreement.css' %}"> <!-- pc 버전 -->
<link rel="stylesheet" media="all and (max-width:767px)" href="{% static 'css_v2/mobile/user/agreement.css' %}"> <!-- pc 버전 -->

<div class="container_2">
    <!-- JS 파일 -->
    <div class="inBox">
        <div class="title">{{ agree.title }}</div>
        <div class="content">{{ agree.content|linebreaks }}</div>
    </div>
</div>

{% endblock %}