<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>원픽|나만의 ONEPICK</title>

    <meta name="viewport" content="width=device-width">

    {% load static %}
    <link rel="stylesheet" media="all and (min-width:768px)" href="{% static 'css/web/base.css' %}"> <!-- PC 버전 -->
    <link rel="stylesheet" media="all and (max-width:767px)" href="{% static 'css/mobile/base.css' %}" > <!-- 모바일 버전 -->

    <!-- JS 파일 -->
    <script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'js/base.js' %}"></script>


    <script async src="https://www.googletagmanager.com/gtag/js?id=G-0WGRWN44B0"></script>
    <script>
        // Post 형태 ajax 통신시 필요.
        $.ajaxSetup({
            headers: { "X-CSRFToken": '{{csrf_token}}' }
        });

        <!-- Global site tag (gtag.js) - Google Analytics -->
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

         gtag('config', 'G-0WGRWN44B0');
    </script>
</head>
<body>
    <div class="container">
        <!-- header -->
        <div class="header">
            <div class="logo"></div>
            <div class="searchBox">
                <input type="text" name="search" id="search" placeholder="오디션,인물 검색"/>
                <div class="search"></div>
            </div>
            <div class="menuBtn pcNone"></div>

            {% if request.session.userType == "COMPANY" and request.session.id != null %}
            <div class="audiRegBtn">
                <div class="icon"></div>
                <div class="name">오디션 등록</div>
            </div>
            <div class="line"></div>
            {% elif request.session.userType == "NORMAL" and request.session.id != null %}
            <div class="profileRegBtn">
                <div class="icon"></div>
                <div class="name">프로필 등록</div>
            </div>
            <div class="line"></div>
            {% endif %}

            <div class="menu mobileNone" data-url="/audi/main/all/">오디션</div>
            <div class="menu mobileNone" data-url="/profile/list/actor/newest/">프로필</div>

            {% if request.session.id == "" or request.session.id == null %}
            <div class="login mobileNone">로그인</div>
            <div class="join mobileNone">회원가입</div>
            {% else %}
            <div class="mypage mobileNone">마이페이지</div>
            <div class="logout mobileNone">로그아웃</div>
            {% endif %}
        </div>
        <!-- header -->

        {% block context %}
        {% endblock %}
    </div>

    <!-- footer - 배경 색상 전체 와이드로 표시하기 위해서 container 밖에 표현함. -->
    <div class="footer">
        <div class="footerContext">
            <span class="company">(주)케이에스앤픽 | 대표:양규석</span>
            <div class="companyLink">
                <span data-url="#">이용약관</span>
                <span data-url="#">개인정보보호정책</span>
                <span data-url="#">광고문의</span>
            </div>
            <span class="info addr">서울특별시 강남구 선릉로 153길 8, 3층(신사동,제인빌딩)</span>
            <span class="info email">이메일 onepick@myonepick.com</span>
        </div>
    </div>
    <!-- footer -->

    <!-- Login PopUp -->
    <div class="loginPopup">
        <div class="loginBox">
            <div class="loginClose"></div>
            <div class="loginLogo">
                <span>글로벌 NO.1 오디션 플랫폼</span>
                <div class="Logo"></div>
            </div>

            <div class="socialLogin">
                <div class="title">원픽과 함께 당신의 꿈을<br>PICK 하러 가보실까요?</div>
                <div class="socialBox">
                    <div class="socialBtn" id="kakaoLogin"></div>
                    <div class="socialBtn" id="gogleLogin"></div>
                    <div class="socialBtn" id="appleLogin"></div>
                    <div class="socialBtn" id="facebookLogin"></div>
                </div>
                <div class="sendOneLogin">기존 원픽 계정이 있어요</div>
            </div>

            <div class="onepickLogin">
                <div class="loginInfo">
                    원픽 사이트(myonepick.com)의<br>
                    아이디 패스워드가 있으신 분은<br>
                    기존 계정으로 로그인이 가능합니다.
                </div>

                <input type="text" value="" id="onepickId" placeholder="아이디 입력"/>
                <input type="password" value="" id="onepickPW" placeholder="비밀번호 입력"/>
                <div class="loginBtn">로그인</div>

                <div class="idSearchBox">
                    <span id="findID">아이디 찾기</span>
                    <span id="findPW">비밀번호 찾기</span>
                </div>
            </div>
        </div>
    </div>
    <!-- Login PopUp -->

    <!-- mobile Menu Popup -->
    <div class="menuPopup pcNone">
        <div class="sideMenu">
            <div class="m_loginBox">
                {% if request.session.id == "" or request.session.id == null %}
                <div class="login">로그인/회원가입</div>
                {% else %}
                <div class="infoBox" id="login">
                    <div class="infoIcon"></div>
                    <span>{{ request.session.id }}</span>
                    <div class="logout">로그아웃하기</div>
                </div>
                {% endif %}
            </div>

            <div class="m_inbox">
                <div class="menuCate" id="audition">
                    <p>오디션</p>
                </div>
                <div class="menuCate" id="profile">
                    <p>프로필</p>
                </div>
            </div>

            {% if request.session.id != null %}
            <div class="m_inbox">
                {% if request.session.userType == "COMPANY" and request.session.id != null %}
                <div class="infoBox" id="auditonReg">
                    <div class="infoIcon"></div>
                    <p>오디션 등록</p>
                </div>
                {% elif request.session.userType == "NORMAL" and request.session.id != null %}
                <div class="infoBox" id="profileReg">
                    <div class="infoIcon"></div>
                    <p>프로필 등록</p>
                </div>
                {% endif %}
            </div>
            {% endif %}
        </div>
    </div>
    <!-- mobile Menu Popup -->


    <div class="regCompanyPopup">
        <div class="regCompanyBox">
            <div class="closeBtn"></div>
            <div class="title">
                오디션 등록 / 알바픽 등록을<br>위해 먼저 기업회원 전환이<br>필요합니다.
            </div>
            <div class="regInfo">
                기업회원은 자유롭게 오디션 및 알바공고를<br>등록하고 프로필 열람 및 오디션 제안 기능을<br>사용하실 수 있습니다.
            </div>
            <div class="regCompanyBtn">지금 기업회원 전환하기 →</div>
            <div class="close">다음에 할래요</div>
        </div>
    </div>

    <script>
        var userType = "{{ request.session.userType }}";
        var userID = "{{ request.session.id }}";
    </script>
</body>
</html>