<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>원픽ㅣ나만의 ONEPICK</title>

    <meta name="viewport" content="width=device-width">
    {% load static %}


    <link rel="stylesheet" media="all and (min-width:768px)" href="{% static 'css/web/downstime.css' %}"> <!-- PC 버전 -->
    <link rel="stylesheet" media="all and (max-width:767px)" href="{% static 'css/mobile/downstime.css' %}" > <!-- 모바일 버전 -->

    <link rel="icon" type="image/x-icon" href="{% static 'image/favicon.ico' %}">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'image/favicon.ico' %}">

</head>
<body>

    <div class="center">

    </div>

</body>
</html>