<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>원픽 Admin</title>

    <meta name="viewport" content="width=device-width">

    {% load static %}
    <link rel="stylesheet"  href="{% static 'css/onepickAdmin/login/login.css' %}"> <!-- PC 버전 -->

    <link rel="icon" type="image/x-icon" href="{% static 'image/favicon.ico' %}">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'image/favicon.ico' %}">

    <!-- JS 파일 -->
    <script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'js/onepickAdmin/login/login.js' %}"></script>

</head>
<body>

    <div class="container">
        <div class="logo"></div>
        <div class="logoAdmin"></div>

    </div>

</body>
</html>