/* PC Base CSS */
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css);

.mobileNone{
    display: none;
}

/* PC Base CSS */
body{
    position:  relative;
    padding : 0px;
    margin : 0px;
    font-family: 'Noto Sans KR', sans-serif !important;
    background-color: #f8f8f8;
    color: #1f1f1f;
}
.container{
    width :  100%;
    padding : 120px 20px 65px;
    margin : 0 auto;
    box-sizing: border-box;
}

.container_2{
    position: relative;
    margin : 0 auto;
    box-sizing: border-box;
    padding-top: 120px;
    padding-left: 20px;
}

.container_header{
    position: relative;
    width :  100%;
    height: 90px;
    margin : 0 auto;
    box-sizing: border-box;
}

/* PC Base Header CSS */
.header{
    position : fixed;
    width: 100%;
    height:90px;
    top: 0px;
    left: 0px;

    font-size: 0px;
    box-sizing: border-box;
    background-color: #fff;
    z-index: 100;
    text-align: right;
    box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.1);
}

.header .logo{
    position: absolute;
    display :inline-block;
    width: 112px;
    height: 18px;
    top: 15px;
    left: 18px;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image : url('../../image/web_v2/logo.png');

    vertical-align : top;
    cursor:pointer;
}

.header .searchBox2{
    position: absolute;
    right: 120px;
    top: 10px;
    height: 26px;
    width: 170px;
    border-radius: 33px;
    border: solid 1px #ff8aae;
    background-color: #fff;
    z-index: 1;
}
.header .searchBox2 #search2{
    display:  inline-block;
    border : 0px solid blue !important;
    background-color: transparent !important;
    width: 85%;
    height: 100%;
    box-sizing:border-box;
    vertical-align: top;

    font-size: 10px;
    padding-left: 5px;
    line-height: 25px;
    font-weight: bold;
    color: #ff8aae;
    font-family: 'Noto Sans KR', sans-serif
}
.header .searchBox2 #search2::placeholder{
    font-size: 10px;
    font-weight: bold;
    color: #ff8aae;
}
.header .searchBox2 #search2:focus{
    outline: none;
}
.header .searchBox2 .search2{
    display:  inline-block;
    width: 14px;
    height: 15px;
    box-sizing:border-box;
    vertical-align: top;
    cursor: pointer;
    margin-top: 4px;
    margin-right: 5px;

    background-image : url('../../image/mobile/searchBtn.png');
    background-size : 100%;
    background-repeat : no-repeat;
    background-position : center;
}

.header .menu{
    display :inline-block;
    width: 20%;
    height: 40px;
    cursor:pointer;
    line-height: 40px;
    box-sizing: border-box;
    text-align: center;

    font-size: 12px;
    font-weight: bold;
    color: #1f1f1f;
}

.header .login, .header .mypage{
    display :inline-block;
    height: 50px;
    text-align:  center;
    vertical-align: top;
    cursor: pointer;

    font-size: 10px;
    font-weight: bold;
    line-height: 50px;
    color: #ff8aae;
    margin-right: 15px;
    margin-left: 10px;
}

.header .join, .header .logout{
    display :inline-block;
    height: 50px;
    line-height: 50px;
    margin-right: 15px;

    font-size: 10px;
    font-weight: 700;
    color: #959595;
    text-align:  center;
    vertical-align: top;
    cursor: pointer;
}

/* PC Base Footer CSS */
.footer{
    background-color : #000000;
}
.footer .footerContext {
    position: relative;
    padding : 30px 30px 54px;
    font-size : 0px;
    margin : 0 auto;
    box-sizing: border-box;
}
.footer .footerContext .company{
    display : block;
    font-size: 12px;
    color: #fff;
    margin-bottom : 20px;
    font-weight: bold;
}

.footer .footerContext .companyLink{
    margin-top: 28px;
}

.footer .footerContext .companyLink span{
    display : inline-block;
    font-size: 12px;
    color: #959595;
    cursor: pointer;
    margin-right : 20px;
}

.footer .footerContext .companyLink span:nth-child(3){
    color: #ffffff;
    font-weight: bold;
}

.footer .footerContext .companyLink span:nth-child(4){
    color: #FF8AAE;
    font-weight: bold;
}

.footer .footerContext .info{
    display : block;
    font-size: 12px;
    color: #fff;
    font-weight: normal;
    margin-bottom: 6px;
}

.footer .linkBtnBox{
    margin-top: 27px;
}

.footer .linkBtnBox .link_sns{
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-right: 20px;
    cursor: pointer;
}

.footer .linkBtnBox .link_sns.kakao{ background-image: url("../../image/web_v2/kakao_ch.png")}
.footer .linkBtnBox .link_sns.instagram{ background-image: url("../../image/web_v2/Instagram.png")}
.footer .linkBtnBox .link_sns.youtube{ background-image: url("../../image/web_v2/YouTube.png")}