{% extends 'onepickAdmin/base.html' %}
{% block context %}

<!-- Index CSS 파일 및 JS 파일 include -->
{% load static %}
{% load my_filter %}
<link rel="stylesheet" href="{% static 'css/onepickAdmin/user/list.css' %}">

    <!-- JS 파일 -->
<script src="{% static 'js/onepickAdmin/user/list.js' %}"></script>

<div class="inBox">
    <div class="title">
        프로필 관리

        <div class="searchBox">
            <input type="text" name="search" id="search" placeholder="검색"/>
            <div class="search"></div>
        </div>

    </div>

    <div class="viewBox">

       <div class="inTitle">
            <div class="listName">이름</div>
            <div class="listGroup">회원 그룹</div>
            <div class="listPhone">연락처</div>
            <div class="listRegDate">가입일</div>
            <div class="listJoin">가입경로</div>
            <div class="listLastLogin">마지막 로그인 시간</div>
       </div>

        <div class="contentBox">
            {% for user in userList %}
             <div class="contentList" data-num="{{ user.num }}">
                <div class="listName">{{ user.name }}</div>
                <div class="listGroup">
                    <span>
                    {% if user.usertype == "S-COMPANY" %} 미승인기업
                    {% elif user.usertype == "COMPANY" %} 기업회원
                    {% elif user.usertype == "S-NORMAL" %} 미이전회원
                    {% elif user.usertype == "NORMAL" %} 일반회원
                    {% elif user.usertype == "admin" %} 관리자
                    {% endif %}
                    </span>
                </div>
                <div class="listPhone">{{ user.phone|default:"" }}</div>
                <div class="listRegDate">{{ user.regtime|date:"Y/m/d" }}</div>
                <div class="listJoin">
                    {% if user.jointype == "NAVER" %} 네이버
                    {% elif user.jointype == "KAKAO" %} 카카오
                    {% elif user.jointype == "GOOGLE" %} 구글
                    {% elif user.jointype == "FACEBOOK" %} 페이스북
                    {% elif user.jointype == "TWITTER" %} 트위터
                    {% elif user.jointype == "oldUser" or user.jointype == "OLDUSER" %} 기존회원
                    {% endif %}
                </div>
                <div class="listLastLogin">{{ user.lastlogin|date:"Y/m/d H:i:s" }}</div>
            </div>
            {% endfor %}
        </div>

        <div class="btnBox">
            <div class="excelBtn">Excel 다운로드</div>
        </div>
    </div>


    <div class="page">
        {% if page != paging.0 and page != 1 %}
            <div class="leftPage" data-page="{{ leftPage }}"></div>
        {% endif %}

        <div class="pageBox">
        {% for pages in paging %}
            <div class="pages {% if pages == page %} nowPage {% endif %}"  data-page="{{ pages }}">{{ pages }}</div>
        {% endfor %}
        </div>

        {% if page != lastPage %}
            <div class="rightPage" data-page="{{ rightPage }}"></div>
        {% endif %}
    </div>

</div>


<script>
    var type = "{{ type }}";
    var word = "|";
</script>

{% endblock %}